<div class="login-container">
  <div class="sidebar">
  </div>

  <div class="login-box">
    <div class="header">
      <div class="gears">⚙️⚙️</div>
      <h1>M.A.R.I.A</h1>
    </div>

    <!-- notificação -->
    <div class="notification" *ngIf="showNotification">{{ erroLogin }}</div>

    <form (ngSubmit)="fazerLogin()">
      <div class="input-group">
        <span class="icon">👤</span>
        <input type="text" placeholder="Usuário" [(ngModel)]="usuario" name="usuario" required />
      </div>

      <div class="input-group">
        <span class="icon">🔒</span>
        <input type="password" placeholder="Senha" [(ngModel)]="senha" name="senha" required />
      </div>

      <button type="submit">ENTRAR</button>
    </form>
  </div>
</div>
