<div class="sidebar" [class.open]="sidebarOpen">
  <button class="icon-button" (click)="toggleSidebar()">☰</button>
  <div class="menu-icons" *ngIf="sidebarOpen">
    <div class="icon chat-icon"></div>
    <div class="icon doc-icon"></div>
    <div class="icon check-icon"></div>
    <div class="icon folder-icon"></div>
  </div>
</div>

<div class="topbar">
  <div class="top-icons">
    <span class="icon home-icon"></span>
    <span class="icon bell-icon"></span>
    <span class="icon user-icon"></span>
  </div>
</div>

<div class="content">
  <p>Ainda não há nada aqui</p>
  <div class="circle" (click)="showPopup()">
    <span>+</span>
  </div>
</div>

<div class="popup" [style.display]="popupVisible ? 'block' : 'none'">
  <h3>Cadastrar Máquina</h3>
  <form>
    <label for="machineName">Nome:</label><br />
    <input type="text" id="machineName" name="machineName" /><br /><br />
    <label for="machineType">Tipo:</label><br />
    <input type="text" id="machineType" name="machineType" /><br /><br />
    <button type="button" (click)="saveMachine()">Salvar</button>
    <button type="button" (click)="hidePopup()">Cancelar</button>
  </form>
</div>
